*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
}

h3,h2, h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:medium;
    color: white;
    background-color: transparent;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
footer .container {
    max-width: 1170px;
    margin: auto;
}

footer ul {
    list-style: none;
}
.footer-area {
    background-color: #0275d8;
    padding: 50px 2px;
}
.single-footer-widget {
    width: 25%;
    padding: 30px 30px 30px 30px;
}
.single-footer-widget {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.single-footer-widget ul li a {
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: black;
    display: block;
    transition: all 0.3s ease;
}
.single-footer-widget ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.single-footer-widget p {
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: black;
    display: block;
    cursor: pointer;
}
.single-footer-widget .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center; 
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.single-footer-widget .social-links a:hover {
    color: #ffffff;
    background-color: black;
}
@media(max-width: 767px) {
    .single-footer-widget {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

